/* Rund ums Fokus Modal */

#show-create-focus:checked {
    &+#create-focus-modal {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

#create-focus-modal {
    display: none;
    position: fixed;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .7)), to(rgba(0, 0, 0, .7)));
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
    z-index: 150;
    #foki-modal-dialog {
        background-color: white;
        max-width: 700px;
        margin: 30px auto;
        height: 90vh;
        overflow-y: auto;
        #foki-modal-content {
            #foki-modal-header {
                padding: 15px;
                position: relative;
                border-bottom: 1px solid #e5e5e5;
                #close-create-focus {
                    position: absolute;
                    right: 15px;
                    &::after {
                        font-size: 24px;
                        content: "×";
                    }
                }
            }
            #toggle-dropdowns-label {
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            .focus-dropdown-toggle {
                display: none;
                &:not(:checked) {
                    &~.focus-dropdown-label~.row {
                        max-height: 0px;
                        overflow: hidden;
                    }
                }
                &:checked {
                    &~.focus-dropdown-label::after {
                        content: " ➖ ";
                    }
                }
            }
            .focus-dropdown-label {
                cursor: pointer;
                &::after {
                    font-size: 16px;
                    content: " ➕ ";
                    margin-left: 3px;
                    vertical-align: middle;
                }
                &~.row {
                    -webkit-transition: max-height 0.4s ease;
                    /* Chrome 1-25, Safari 3.2+ */
                    /* Firefox 4-15 */
                    /* Opera 10.50–12.00 */
                    transition: max-height 0.4s ease;
                    max-height: 400px;
                }
            }
        }
    }
}