/* Rund ums Fokus Modal */

#show-create-focus {
    display: none;
}

#show-create-focus:checked {
    & + #create-focus-modal {
        display: flex;
    } 
}

#create-focus-modal {
    display: none;
    position: fixed;
    justify-content: center;
    min-height: 100%;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7));
    z-index: 150;

    #foki-modal-dialog {
        background-color: white;
        max-width: 70%;
        height: 950px;
        color: black;
        overflow-y: auto;

        #foki-modal-content {
            #foki-modal-header {
                padding: 15px;
                position: relative;
                #close-create-focus{
                    position: absolute;
                    right: 10px;
                    &::after {
                        font-size: 24px;
                        content: "×";
                    }
                }
            }
            .focus-dropdown-toggle {
                display: none;

                &:not(:checked) {
                    & ~ .focus-dropdown-label ~ .row {
                        max-height: 0px;
                        overflow: hidden;
                    }
                }
                &:checked {
                    & ~ .focus-dropdown-label::after {
                        content: "Einklappen 🡡";
                    }
                }
            }

            .focus-dropdown-label {
                font-weight: normal;
                &::after {
                    font-size: 16px;
                    content: "Ausklappen 🡣";
                    margin-left: 3px;
                }
            }
        }
    }

}