footer {
    margin: 30px 0px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    white-space: pre-line;
    align-items: flex-end;
    div {
        text-align: center;
        margin-left: 10px;
        &:first-child {
            margin-left: 0px;
        }
    }
    img {
        max-width: 100%;
    }
}