footer {
    padding: 5px;
    width: 100%;
    background-color: white;
    border-top: 1px solid grey;
    display: flex;
    justify-content: space-around;
    white-space: pre-line;
    align-items: center;
    div {
        display: flex;
        text-align: center;
        margin-left: 10px;
        &:first-child {
            margin-left: 0px;
        }
    }
    img {
        max-width: 100%;
    }
    &.startPageFooter {
        #info {
            display: flex;
            flex-direction: column;
            p {
                margin: 0px;
                line-height: 10px;
            }
        }
    }
    &.footer-resultpage {
        justify-content: center;
        a {
            color: @result-page-color-black;
        }
    }
}