/* Quicktips */

#quicktips {
    display: flex;
    flex-direction: column;
    details[open=""] .quicktip-extender {
        animation-name: quicktip-extender-turn;
        animation-fill-mode: forwards;
    }
    .quicktip {
        margin: 10px 0px;
        padding: 10px 10px 10px 10px;
        width: 100%;
        border: 1px solid #ccc;
        background-color: white;
        @media(max-width: @screen-xs-max) {
            box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.12), 1px 0px 1px 0px rgba(0, 0, 0, 0.24);
        }
        details:not([open=""]) {
            .quicktip-summary p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .quicktip-summary {
            h1 {
                margin: 0px 0px 5px 0px;
                font-size: 18px;
                display: flex;
                justify-content: space-between;
                .quicktip-extender {
                    margin-left: 10px;
                    color: #777;
                    font-size: 20px;
                }
            }
            p {
                font-size: 16px;
            }
        }
        .quicktip-detail {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            h2 {
                margin: 10px 0px;
                font-size: 16px;
                font-weight: bold;
            }
            p {
                display: none;
                font-size: 14px;
            }
        }
        .gefVon {
            float: right;
            font-size: 15px;
        }
        &[type=spruch] {
            order: 0;
            border-left: 3px solid #070;
            p {
                color: #070;
                display: flex;
                flex-direction: column;
                .author {
                    color: #404040;
                    font-style: italic;
                    align-self: end;
                }
            }
        }
        &[type=duckDuckGo-bang] {
            order: 1;
            .bang-btn {
                width: 100%;
                margin-top: 5px;
                color: #fff;
                background-color: #286992;
                font-size: 16px;
            }
        }
        &[type=wikipedia] {
            order: 2;
        }
        &[type=dictCC] {
            order: 3;
            .quicktip-summary {
                p {
                    font-weight: bold;
                }
            }
        }
        &[type=tip] {
            order: 4;
        }
        &[type=ad] {
            order: 5;
        }
        &[type=spendenaufruf] {
            order: 6;
            border: none;
            color: #ff8000;
            background-color: inherit;
            .quicktip-summary {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h1 {
                    margin: 0px;
                }
                p {
                    margin: 5px;
                    .spendenaufruf-btn {
                        color: white;
                        background-color: #ff8000;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}