#savedFoki {
    padding-top: 50px;
    #saver-options {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        >* {
            margin: 5px 0px;
            display: flex;
            align-items: center;
        }
        .saver-option-filter>input {
            font-family: FontAwesome, sans-serif;
        }
        .saver-option-sort>select {
            &,
            option {
                font-family: FontAwesome, sans-serif;
            }
        }
        .saver-option-delete button {
            width: 100%;
        }
    }
}