/* Ergebnisseite */

@import "./quicktips.less";
@import "./result-saver.less";
@import "./result.less";
@import "./product.less";
//
@resultpage-background-color: #FAFAFA;
//
@results-margin-left: 16px;
//
@result-page-body-background-color: @background-color;
@result-page-a-hover-color: red;
@result-page-product-shop-color: green;
//
@body-background-color: @result-page-body-background-color;
@a-hover-color: @result-page-a-hover-color;
@a-donation-hover-color: @result-page-a-hover-color;
@product-shop-color: @result-page-product-shop-color;
//
@results-width-min: 500px;
@results-width-max: 700px;
@additions-width-min: 400px;
@additions-width-max: 500px;
//
@resultpage-breakpoint-large: (@results-width-max + @additions-width-max + @padding-small-default * 4);
@resultpage-breakpoint-small: (@results-width-min + @additions-width-min + @padding-small-default * 4);
//
@resultpage-leftbox-max-width: @results-width-max;
@resultpage-leftbox-min-dist-left-right: @padding-small-default;
@resultpage-leftbox-min-dist-top-bottom: @padding-small-default;
//
@logo-size-breakpoint: (@results-width-min + @padding-small-default * 2);
//
@openSidebar-breakpoint: (@results-width-max + @padding-small-default * 2 + 60px);
//
#header-logo {
    z-index: 0;
    padding-right: 10px;
    h1 {
        .logo;
        margin: 0px;
        font-size: 22px;
        display: inline-block;
    }
    .screen-small {
        display: none;
    }
    .screen-large {}
    @media (max-width: @logo-size-breakpoint) {
        .screen-large {
            display: none;
        }
        .screen-small {
            display: initial;
        }
    }
}

body {
    &#resultpage-body {
        background-image: inherit;
        background-color: @resultpage-background-color;
    }
    &.quicktips {
        background-color: @quicktip-background-color;
    }
}

.navbar {
    border-bottom: 3px solid @metager-orange;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    &.navbar-resultpage {
        border-bottom: 2px solid @metager-orange;
        box-shadow: none;
    }
}

.lSPrev>span,
.lSNext>span {
    color: @metager-orange;
}

#map,
#map div {
    display: flex;
}

.nav-tabs>li>a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tab-content {
    padding-top: 10px;
}

.hostlabel {
    display: none;
    position: relative;
    margin-top: -14px;
    background-color: @hostlabel-background-color;
    a:link,
    a:visited {
        color: @hostlabel-a-link-or-visited-color;
    }
}

.img:hover .hostlabel {
    display: block;
}

.tab-pane.active {
    padding: 10px 0;
    padding-top: 0;
}

.tab-pane .alert {
    margin: 10px 0;
    padding: 5px 15px;
}

.alert ul {
    list-style-type: none;
    padding-left: 49px;
}

.fa.fa-twitter {
    color: #6faedc
}

.dense-col {
    padding: 0px
}

.input-group-addon {
    padding: 0;
}

input#eingabeTop {
    height: 35px;
}

nav .input-group {
    height: 35px;
    padding: 5px 0;
}

#search {
    background-color: inherit;
    border: 0;
    width: 50px;
    height: 100%;
}

#helpButton {
    color: black;
}

a {
    &:visited {
        color: @link-color;
    }
    &:hover {
        text-decoration: none;
        color: @a-hover-color;
    }
    &#donation {
        &,
        &:visited {
            color: @a-donation-normal-or-visited-color;
        }
        &:hover {
            color: @a-donation-hover-color;
        }
    }
}

#spenden {
    .overflow-ellipsis;
}

#spruch {
    .author {
        font-size: 80%;
        font-weight: normal;
        font-style: italic;
        color: @spruch-author-color;
    }
    &>p {
        margin-bottom: 0;
        &+p {
            margin-top: 4px;
        }
    }
}

.saver-options {
    display: flex;
    padding-bottom: 15px;
    &>input {
        min-width: 35%;
        max-width: 80%;
    }
}

.ui-effects-transfer {
    border: 1px dotted black;
}

#header-searchbar {
    flex-grow: 1;
}

.description-container {
    margin: 0 !important;
}

.options-list>li {
    &:hover {
        background-color: @options-list-li-hover-background-color;
    }
    &>a {
        color: @options-list-li-a-color;
        white-space: nowrap;
        display: block;
        padding: 5px 14px;
    }
    input[type=submit] {
        width: 100%;
        background-color: transparent;
        border: 0;
        margin: 5px 0;
    }
}

.js-only {
    display: none;
}

/* Hier der Style für die Bilder */

#fit-width .masonry {
    margin: 0 auto;
}

.image-item {
    width: 150px;
    text-align: center;
    margin-bottom: 10px;
    margin: 5px;
    .img {
        box-shadow: 0px 0px 10px 2px @image-item-img-box-shadow-color;
    }
}

.image-container {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}

/* Placeholder für ladende Tabs */

.loader {
    text-align: center;
    margin-top: 20px;
    &>img {
        width: 30px;
    }
}

.mg-pager {
    display: flex;
    justify-content: center;
    &>div {
        border: #aaa solid 1px;
        border-radius: 10px;
        padding: 5px;
        margin-left: 10px;
        background-color: white;
        box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.12), 1px 0px 1px 0px rgba(0, 0, 0, 0.24);
        &:first-child {
            margin-left: 0px;
        }
    }
}

#searchplugin {
    display: none;
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 501;
    width: 25%;
    &>div {
        text-align: center;
        padding-top: 5px;
    }
    &>a {
        color: @searchplugin-a-color;
    }
}

@media(min-width: 768px) {
    #searchplugin {
        display: initial;
    }
}

#products {
    width: 100%;
    height: 210px;
    padding-bottom: 0;
    transform: translate3d(0px, 0px, 0px);
    margin-bottom: 10px;
}

.lSPrev>i,
.lSNext>i {
    background-color: @lsprev-or-lsnext-i-background-color;
    padding: 5px;
}

#mark {
    font-size: 13px;
    a {
        margin-left: 3px;
    }
}

@keyframes quicktip-extender-turn {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

/* New result style */

.content-wrapper {
    display: flex;
    flex-direction: column;
}

#resultpage-container {
    margin: @padding-small-default;
    margin-left: @results-margin-left;
    display: grid;
    grid-template-columns: @results-width-max @additions-width-max;
    grid-template-areas: "searchbar ." "foki ." "results additions";
    grid-column-gap: (@padding-small-default * 2);
    grid-row-gap: @padding-small-default;
    justify-items: stretch;
    align-items: stretch;
    /**/
    background-color: @resultpage-background-color;
    #research-bar-container {
        grid-area: searchbar;
    }
    #research-bar-placeholder {
        grid-area: searchbar;
        /**/
        max-width: @results-width-max;
    }
    #foki {
        grid-area: foki;
        /**/
        max-width: @results-width-max;
    }
    #results-container {
        grid-area: results;
        /**/
        max-width: @results-width-max;
        .alert {
            margin-bottom: @padding-small-default;
        }
    }
    #additions-container {
        grid-area: additions;
        /**/
        //min-width: @additions-width-min;
        max-width: @additions-width-max;
        #search-settings {
            display: none;
        }
    }
    @media (max-width: @resultpage-breakpoint-large) {
        @supports (display: grid) {
            grid-template-columns:~"calc(60% - 8px)"~"calc(40% - 8px)";
            grid-template-areas: "searchbar ." "foki ." "results additions";
        }
    }
    @media (max-width: @resultpage-breakpoint-small) {
        margin-left: @padding-small-default;
        grid-template-columns: 100%;
        grid-template-areas: "searchbar" "foki" "results";
        #additions-container {
            display: none;
        }
    }
}

#research-bar-container {
    margin-left: (@results-margin-left - @padding-small-default);
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: @resultpage-background-color;
    padding: @padding-small-default @padding-small-default 0px @padding-small-default;
    width: (@results-width-max + 2 * @padding-small-default);
    max-width: (@results-width-max + 2 * @padding-small-default);
    @media (max-width: @resultpage-breakpoint-large) {
        @supports (display: grid) {
            width: ~"calc(60% - 6px)";
        }
    }
    @media (max-width: @resultpage-breakpoint-small) {
        width: 100%;
        margin-left: 0px;
    }
    #research-bar {
        background-color: white;
        border: 1px solid #ccc;
        border-bottom: 2px solid @metager-orange;
        box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.12), 1px 0px 1px 0px rgba(0, 0, 0, 0.24);
        display: flex;
        align-items: center;
        padding: 4px;
        .resultpage-searchbar {
            .search-input-submit .search-input input {
                border-bottom: 1px solid #ccc;
            }
            @media (max-width: @openSidebar-breakpoint) {
                .search-focus-selector {
                    border-top: none;
                    border-radius: 5px;
                }
                .search-input-submit {
                    border-radius: 5px;
                }
                >* {
                    border-radius: 5px;
                    min-height: 40px;
                    &:not(:first-child) {
                        border-left: 1px solid #aaa;
                    }
                }
            }
        }
    }
}

#foki {
    display: flex;
    justify-content: left;
    /*
    @media (max-width: (@results-width-min + @additions-width-min - 1px)) {
        width: 100%;
        max-width: none;
        margin: 0px;
        padding: @padding-small-default;
        .scrollbox {
            max-width: none;
            margin: 0px;
            #foki-box {
                max-width: none;
                margin: 0px;
            }
        }
    }
    @media (max-width: (4 * @padding-small-default + @results-width-max + @additions-width-max - 1px)) {
        padding-left: @padding-small-default;
    }
    @media (max-width: (@results-width-min + @additions-width-min - 1px)) {
        width: 100%;
        max-width: 700px;
        margin: 0px;
        padding: @padding-small-default;
        #research-bar {
            max-width: none;
            margin: 0px;
        }
    }
    */
    #foki-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        max-width: @resultpage-leftbox-max-width;
        background-color: white;
        border: 1px solid #ccc;
        -webkit-box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.12), 1px 0px 1px 0px rgba(0, 0, 0, 0.24);
        box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.12), 1px 0px 1px 0px rgba(0, 0, 0, 0.24);
        overflow-x: visible;
        padding: 10px;
        @media (max-width: 700px) {
            overflow-x: auto;
        }
        &>div {
            padding: 0px 10px;
            &>a {
                color: black;
            }
            &.active>a {
                border-bottom: 1px solid black;
                color: black;
            }
            &:last-child {
                padding-right: 20px
            }
        }
        .edit-focus {
            margin-left: 7px;
        }
        /* Scrollbar Style */
        &::-webkit-scrollbar {
            height: 0px;
            /* remove scrollbar space */
            background: transparent;
            /* optional: just make scrollbar invisible */
        }
    }
}

#spendenaufruf {
    margin-bottom: 10px;
    a {
        background-color: white;
        display: inline-block;
        width: 100%;
    }
}

footer.resultPageFooter {
    max-width: 700px;
    margin-top: 20px;
    @media (max-width: (2 * @results-margin-left + @results-width-max - 1px)) {
        margin: 20px 0 0 0;
    }
}

/* Searchbar Opener */

#research-bar>.openSidebar {
    display: none;
    margin-right: 10px;
    margin-left: 20px;
}

@media(max-width: @openSidebar-breakpoint) {
    #resultpage-container>.openSidebar {
        display: none;
    }
    #research-bar>.openSidebar {
        display: initial;
    }
}

/* Style-fixes for browsers that do not support grid layout */

#resultpage-container {
    #results-container {
        float: left;
        @media (max-width: @resultpage-breakpoint-small) {
            float:none;
        }
    }
    #additions-container {
        float: left;
        margin-left: 20px;
        @supports (display: grid) {
            float: none;
            margin-left: 0px;
        }
    }
}

/* Style for resultpage container without any header content */

#resultpage-container-noheader {
    #resultpage-container;
    grid-template-areas: "results";
}

.metager3-unstable-warning-resultpage {
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 0px;
    width: 100%;
}

.metager3-unstable-warning {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding-right: 60px;
    padding-left: 150px;
}