#settings-buttons {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    >* {
        margin: 10px;
    }
}

#settings-selectors {
    display: flex;
    flex-wrap: wrap;
    >* {
        margin: 10px;
    }
}

#settings-abort-btn {
    color: @settings-abort-btn-color;
    margin-right: auto;
}