#closeSidebar {
    z-index: 998;
    font-size: 36px;
    position: fixed;
    top: 0px;
    right: 20px;
    &:after {
        content: "≡";
    }
}

.sideBar {
    position: fixed;
    display: block;
    right: -260px;
    width: 260px;
    height: 100%;
    background-color: #FFF;
    overflow: hidden;
    overflow-y: auto;
    transition: 0.5s;
    z-index: 999;
    border-left: 1px solid LightGray;
    & * {
        display: inline-block;
    }
    &>label {
        position: absolute;
        font-size: 36px;
        top: 0px;
        right: 20px;
    }
    &>ul {
        padding-top: 20%;
        padding-left: 0%;
    }
    & a {
        font-size: 12px;
        line-height: 20px;
        text-decoration: none;
        text-indent: 12px;
        width: 100%;
        &:visited {
            color: blue;
        }
    }
}

input#nav0:checked {
    & ~.sideBar {
        right: 0px;
    }
}

input#nav0:checked~.sideBar label:after {
    content: "×";
}