@metager-dropdown-toggle-hover-or-focus-color: fade(@static-pages-color-black, 15%);
@metager-dropdown-menu-background-color: @static-pages-color-white;
@metager-dropdown-menu-box-shadow-color: fade(@static-pages-color-black, 17.5%);
@metager-dropdown-menu-li-a-color: @static-pages-color-almost-black;
@metager-dropdown-menu-li-a-hover-color: @static-pages-color-strong-grey;
@metager-dropdown-menu-li-a-hover-background-color: @static-pages-color-almost-white;

.sideBar {
    position: fixed;
    display: block;
    top: 0px;
    right: -270px;
    width: 270px;
    height: 100%;
    padding-top: 70px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 999;
    background-color: white;
    transition: 0.5s;
    &>label#closeSidebar {
        position: absolute;
        font-size: 36px;
        top: 0px;
        right: 20px;
        color: grey;
        &:after {
            content: "×";
        }
        &:hover {
            color: rgb(255,128,0);
        }
    }

    &>ul {
        padding-top: 20%;
    }

    & #metager-static-nav-list > li {
        
        width: 100%;
        padding-top: 3%;
        padding-bottom: 3%;
        border-bottom: 1px solid LightGray;

        &:hover {
            background-color: @metager-navbar-toggle-hover-background-color;
        }

        &>label {
            font-size: 16px;
            line-height: 20px;
            text-decoration: none;
            text-indent: 12px;
            display: inline-block;
            width: 100%;
            color: black;
            font-weight: normal;
            &:hover {
                color: red;
            }
        }
    }

    & .metager-dropdown-menu {
        list-style-type: none;
        z-index: 1000;
        float: left;
        min-width: 160px;
        text-align: left;
        max-height: 0px;
        overflow: hidden;
        animation-name: reverse-dropdown-animation;
        animation-duration: 0.3s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        &>li>a {
            display: block;
            font-size: 12px;
            padding: 3px 20px;
            width: 100%;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            border-top: 1px solid LightGray;
            margin-left: 2px;
            &:hover {
                text-decoration: none;
            }
        }
        label:after {
            #navbar-static-pages {
                z-index: 4;
                width: 100%;
            }
        }
    }

    & a {
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        text-indent: 12px;
        display: inline-block;
        width: 100%;
        color: black;
        &:hover {
            color: red;
        }
    }

    & p {
        width: 90%;
        text-align: center;
        font-weight: bold;
        font-style: italic;
        font-size: large;
        background-color: rgb(255,128,0);
        border-radius: .25em;
        color: white;
        cursor: default;
        margin: 5%
    }
    & .caret {
        position: absolute;
        left: 90%;
        margin-top: 8px;
    }

    & input.sideBarCheckbox {
        display: none;

        &:checked {
            & ~.metager-dropdown-menu {
                animation-name: dropdown-animation;
                animation-duration: 0.7s;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;
                animation-delay: 0.1s;
            }
            & ~ label > .caret {
                border-top:0 solid;
                border-bottom:4px solid;
                transition:border-top .1s, border-bottom .1s .1s;
            }
        }
    }

}

label#openSidebar {
    z-index: 998;
    font-size: 36px;
    position: fixed;
    top: 0px;
    right: 20px;
    color: grey;
    &:after {
        content: "≡";
    }
    &:hover {
        color: rgb(255,128,0);
    }
}

@media (max-width: 979px) {
    .sideBar {
        right: -90%;
        width: 90%;
        overflow: auto;
    }

    #metager-static-nav-list:target {
        max-height: 1000px;
    }
    ul.metager-dropdown-menu {
        position: inherit;
        width: 100%;
    }
}

input#nav0:checked {
    & ~.sideBar {
        right: 0px;
    }
}

@keyframes dropdown-animation {
    0% {
        max-height: 0px;
        padding: 0px 0;
    }
    1% {
        padding: 5px 0;
    }
    100% {
        max-height: 1000px;
        padding: 5px 0;
    }
}

@keyframes reverse-dropdown-animation {
    0% {
        max-height: 1000px;
        padding: 5px 0;
    }
    1% {
        padding: 5px 0;
    }
    100% {
        max-height: 0px;
        padding: 0px 0;
    }
}


