#searchForm {
    select {
        font-size: 15px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: white;
        padding-right: 35px;
    }
    input {
        height: 40px;
        font-size: 16px;
    }
    button {
        font-size: 16px;
    }
}

.focus-selector {
    background-color: white;
    position: relative;
    &:after {
        content: "\f078";
        font: 15px "FontAwesome", sans-serif;
        //text-align: center;
        line-height: 30px;
        color: #aaa;
        background-color: transparent;
        right: 8px;
        top: 2px;
        padding: 2px 2px 2px 5px;
        border-left: 1px solid #aaa;
        position: absolute;
        pointer-events: none;
    }
}

.searchform-bonus {
    li {
        margin: 5px;
    }
}

.settings-modal-buttons {
    padding: 5px;
    button {
        margin: 5px
    }
}

.startpage-foki,
.foki {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    input {
        visibility: hidden;
        &+.custom-focus-label {
            border-radius: @foki-edge-rounding 0px 0px @foki-edge-rounding;
        }
        &+.custom-focus-label+.custom-focus-edit {
            margin-left: 5px;
            display: inline-block;
            border-radius: 0px @foki-edge-rounding @foki-edge-rounding 0px;
        }
    }
    label {
        & span:not(.badge) {
            background-color: transparent;
        }
    }
}

.focus {
    margin: 0px;
    &~.focus {
        margin-left: 10px;
    }
    &:hover {
        .focus-label,
        .focus-edit {
            cursor: pointer;
            background-color: @focus-hover-focus-edit-background-color;
        }
    }
}

.focus-radio:checked {
    &+.focus-label,
    &+.focus-label+.focus-edit {
        background-color: @focus-radio-checked-focus-label-focus-edit-background-color;
    }
}

.focus-label,
.focus-edit {
    margin: 0px;
    border-radius: 7px;
    padding: 7px;
    font-weight: normal;
}

#about-us a:visited {
    color: @link-color;
}

#anpassen-label a {
    color: @anpassen-label-color;
}

#addFocusBtnDiv {
    margin-left: 10px;
}

#settingsBtnDiv {
    margin-left: 10px;
    &>* {
        vertical-align: middle;
    }
}