// MetaGer Brand Color
@metager-orange: #FF8000;
// Shades of Gray
@color-white: white;
@color-almost-white: mix(@color-white, @color-black, 90%);
@color-light-grey: mix(@color-white, @color-black, 75%);
@color-grey: mix(@color-white, @color-black, 50%);
@color-strong-grey: mix(@color-white, @color-black, 25%);
@color-almost-black: mix(@color-white, @color-black, 10%);
@color-black: black;
// Default Background Color
@background-color: #FAFAFA;
// Default Font
@metager-font: Arimo,
"Liberation Sans",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
// General text color.
@text-color: @color-black;
// Default textual link color.
@link-color: #06C;
// Default Mini-Padding
@padding-small-default: 8px;
// Screen sizes
@screen-mobile: 760px;
@screen-small: 1000;
@screen-medium: 1200px;