/* Startseite */

@main-content-width: 1000px;
#main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @media(max-width: @main-content-width) {
        width: 100%;
    }
    @media(min-width: @main-content-width) {
        width: @main-content-width;
    }
    
    #plugin-btn-div {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }
    #plugin-btn {
        color: @text-color;
    }
    #scroll-helper {
        .card-light;
        position: absolute;
        bottom: 0px;
        right: 8px;
        padding: 11px;
        color: #777;
        border: 0;
        width: 30px;
        height: 30px;
        align-items: center;
        display: none;
        &:hover{
            color: red;
            background-color: #ccc;
        }
        @media(max-width: 503px) {
            display: flex;
        }
    }

}

.startpage #main-content {
    justify-content: center;
        #about-us {
            font-size: 1.4em;
            color: #777;
            text-align: center;
            display: grid;
            grid-gap: 24px;
            margin-top: 60px;
            justify-content: center;
            grid-template-columns: 240px;
            width: 100%;
            top: 100vh;
            position: absolute;
            @media(min-width: 504px){
                grid-template-columns: 240px 240px ;
                grid-gap: 24px;
                top: inherit;
                bottom: 100px;
                position: inherit;
            }
            > a {
                display: flex;
                flex-direction: column;
                cursor: pointer;
                color: inherit;
                > div.teaser {
                    font-size: .7em;
                }
                &:hover > div.teaser {
                    visibility: inherit;
                }
            }
        }
}