<?xml version="1.0" encoding="UTF-8"?>
<sumas>
	<suma name="mnogosearch" host="mg3.suma-ev.de" skript="/cgi-bin/search.cgi" formData="q=&lt;&lt;QUERY&gt;&gt;&amp;cs=utf-8&amp;ps=20" package="mnogosearch" type="web" port="80" userSelectable="1" displayName="Wikis" outputEncoding="Latin1"/>
	<suma name="BASE" host="baseapi.ub.uni-bielefeld.de" skript="/cgi-bin/BaseHttpSearchInterface.fcgi" formData="func=PerformSearch&amp;query=&lt;&lt;QUERY&gt;&gt;" package="BASE" port="80" formDataEn="func=PerformSearch&amp;query=&lt;&lt;QUERY&gt;&gt;" displayName="BASE" userSelectable="1" type="wissenschaft" homepage="http://www.base-search.net/"/>
	<suma name="blogsearch" host="blogsuche.suma-ev.de" skript="/blogsearch/xmlout.php" formData="search=&lt;&lt;QUERY&gt;&gt;&amp;length=400&amp;rows=50&amp;category=&lt;&lt;CATEGORY&gt;&gt;" package="blogsearch" port="80" inputEncoding="utf8" displayName="Blogsuche" userSelectable="1" type="andere" engineBoost="0.2" homepage="http://blogsuche.suma-ev.de/blogsearch/index.php"/>
</sumas>
