@font-face {
    font-family: 'Liberation Sans';
    src: url('hinted-LiberationSans.eot');
    src: local('Liberation Sans'), local('LiberationSans'), url('hinted-LiberationSans.eot?#iefix') format('embedded-opentype'), url('hinted-LiberationSans.woff2') format('woff2'), url('hinted-LiberationSans.woff') format('woff'), url('hinted-LiberationSans.ttf') format('truetype'), url('hinted-LiberationSans.svg#LiberationSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('hinted-LiberationSans-Italic.eot');
    src: local('Liberation Sans Italic'), local('LiberationSans-Italic'), url('hinted-LiberationSans-Italic.eot?#iefix') format('embedded-opentype'), url('hinted-LiberationSans-Italic.woff2') format('woff2'), url('hinted-LiberationSans-Italic.woff') format('woff'), url('hinted-LiberationSans-Italic.ttf') format('truetype'), url('hinted-LiberationSans-Italic.svg#LiberationSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('hinted-LiberationSans-Bold.eot');
    src: local('Liberation Sans Bold'), local('LiberationSans-Bold'), url('hinted-LiberationSans-Bold.eot?#iefix') format('embedded-opentype'), url('hinted-LiberationSans-Bold.woff2') format('woff2'), url('hinted-LiberationSans-Bold.woff') format('woff'), url('hinted-LiberationSans-Bold.ttf') format('truetype'), url('hinted-LiberationSans-Bold.svg#LiberationSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('hinted-LiberationSans-BoldItalic.eot');
    src: local('Liberation Sans Bold Italic'), local('LiberationSans-BoldItalic'), url('hinted-LiberationSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('hinted-LiberationSans-BoldItalic.woff2') format('woff2'), url('hinted-LiberationSans-BoldItalic.woff') format('woff'), url('hinted-LiberationSans-BoldItalic.ttf') format('truetype'), url('hinted-LiberationSans-BoldItalic.svg#LiberationSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}